//BG-COLORS
$color-hardpink: #ef93df;
$color-lightpink: #f9dafe;
$color-black: black;
$color-white: white;
$color-yellow: #fef371;
$color-lightblue: #d0f4ea;
$color-blue: #bcc4ff;

//BG-IMAGES
$background-grid: url('img/grid.svg');
$pink-wave: url('img/120-pinkwave.png');

//TEXT
h1 {
    color: $color-black;
    font-family: 'Urban Space', sans-serif;
    font-size: 4em;
    font-weight: 400;
    line-height: 4.3;
}

h2 {
    color: $color-black;
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    font-weight: 600;
    line-height: 3.3em;
  }

  h3 {
    color: $color-black;
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    font-weight: 600;
    line-height: 2.3em;
  }  

p {
    color: $color-black;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.3em;
}

//nav
nav{
    background-color: $color-white;

    ul{
        list-style: none;
        padding: 0%;
       
        text:{
            text-transform: uppercase;
        }
    }
}


