@font-face {
    font-family: "Urban Space";
    src: url("/Fonts/UrbanSpace-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal italic;
  }


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap');


/*NAV BAR*/



/* Headings */
nav{
    background-color: white;
}


*{
    justify-content: center;
    
}

html {
    font-size: 16px;
  }
  
  /* Media for smaller screens */
  @media (max-width: 768px) {
    html {
      font-size: 12px;
    }
  }
  
  /* Media for even smaller screens */
  @media (max-width: 576px) {
    html {
      font-size: 10px;
    }
  }


body {
    color: black;
    font-family: 'Poppins', sans-serif;
  }

h1 {
    color: black;
    font-family: 'Urban Space', sans-serif;
    font-size: 4em;
    font-weight: 400;
    line-height: 4.3;
}

h2 {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    font-weight: 600;
    line-height: 3.3em;
  }

  h3 {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    font-weight: 600;
    line-height: 2.3em;
  }  

p {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.3em;
}

label {
    color: deeppink;
}


header{
    background-image: url(../img/grid.svg);
    background-size: 7%;
    background-repeat: repeat;
    position: relative;
    justify-items: center;
}

header div img{

        max-width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
      
footer{
    background-color: black;
    padding: 4%;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

/*Responsive Div*/
@media (max-width: 768px) {
    div {
      height: 25%;
    }
  }


/*Selectores de clases */

.accent-text{
    color: black;
    font-family: 'Urban Space', sans-serif;
    font-size: 4em;
    font-weight: 400;
    line-height: 4.3;
}


.blue-accent-text{
    color: #bcc4ff;
    font-family: 'Urban Space', sans-serif;
    font-size: 10em;
    line-height: 10.3;
}


.text-pink{
    color: #ef93df;
}

.text-lightpink{
    color:#f9dafe
}

.text-blue{
    color: #bcc4ff;
}

.text-white{
    color: white;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.text-justified{
    text-align: justify;
}

.all-caps{
    text-transform: uppercase
}

.bg-white{
    background-color: white;
}

.bg-yellow{
    background-color: #fef371;
}

.bg-lightblue{
    background-color: #d0f4ea;
}

.bg-pink{
    background-color: #ef93df;
}

.bg-blue{
    background-color: #bcc4ff;
}

.bg-black{
    background-color: black;
}

.bg-pattern{
    background-image: url(../img/grid.svg);
    background-size: 10%;
    background-repeat: repeat;
    width: max-content;
}

.pink-wave{
background-image: url(../img/1280-pinkwaveBG.png);
background-size: cover;
background-position: center;

}


.nav-logo{
    width: 15%;
    margin-left: 10%;
}

.social-media{
    width: 3%;
    margin: 1%;
}

.categories-section{
    background-image: url(../img/1280-chooseyourplayerbg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 3%;
    padding-bottom: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.aboutuslogo{
    size: 20%;
}

.whoarewe-section{
justify-content: center;
    margin-top: 4%;
    margin-bottom: 4%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 1.4em;
    text-align: center;
    display: grid;
    grid-template-columns: 20% 40% 20%
}


.wrw-text{
padding-inline: 5%;
}

.footer_logo{
    width: 10%;
    margin: 1%;
}

.unisex-clothing{
    position: relative;
    justify-items: center;
    display: grid;
    grid-template-columns: 40% 10% 40%;
    padding-bottom: 5%;
}



.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f9dafe;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border-style:outset;
  border-color: black;
  cursor: pointer;
  border-radius: 30px;
  text-align: center;
  width: 12em;
}

.player{
    padding-left: 5%;
    padding-right: 5%;
}



/*MEDIA MIXINS*/
@media only screen and (max-width: 767px) {
    .whoarewe-section {
        display: flex;
        flex-direction: column;
    }

    .unisex-clothing{
        display: flex;
        flex-direction: column;
    }

    .wrw-text{
    padding-block: 5%;
    }

    .models{
        padding: 15%;
        size: 50%;
    }
    }


