.container{
    .btn-main{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            background-color: $color-lightpink;
            color: $color-black;
            font-size: 16px;
            padding: 16px 30px;
            border-style:outset;
            border-color: black;
            cursor: pointer;
            border-radius: 30px;
            text-align: center;
            width: 12em;
          }
    }

    .btn{
        background-color: $color-white;
        color: $color-black;
        font-family: $body-font;
    }

.btn-regular{
    background-color: $color-white;
    color: $color-black;
    font-size: 16px;
    padding: 10px;
    border-style: outset;
    border-color: black;
    border-radius: 30px;
    text-align: center;
    width: 8em;
}
    //--SubscribeSection
    .home-newsletter {
        padding: 80px 0;
        }
        
        .home-newsletter .single {
        max-width: 650px;
        margin: 0 auto;
        text-align: center;
        position: relative;
        z-index: 2; }
        .home-newsletter .single h2 {
        font-size: 22px;
        text-transform: uppercase;
        margin-bottom: 40px; }
        .home-newsletter .single .form-control {
        height: 50px;
        border-color: transparent;
        border-radius: 20px 0 0 20px; }
        .home-newsletter .single .form-control:focus {
        box-shadow: none;
}
        .home-newsletter .single .btn {
        min-height: 50px; 
        border-radius: 0 20px 20px 0;
        }

    .regular-margin{
        margin-block: 4%;
    }

    .regular-padding{
        padding-block: 4%;
    }

