//Imports
@import 'vars';
@import 'mixins';
@import 'common';
@import 'nav';
@import 'products';
@import 'header';
@import 'footer';
@import 'medias';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap');

@font-face {
    font-family: "Urban Space";
    src: url("/Fonts/UrbanSpace-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal italic;
  }

  *{
    justify-content: center;
    
}


  //--HOMEPAGE SECTIONS

  .categories-section{
    background-image: $chooseyourplayer-bg;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 3%;
    padding-bottom: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    div{
            padding-left: 5%;
            padding-right: 5%;

    }
}

.whoarewe-section{
    background-color: $color-yellow;
    justify-content: center;
        margin-top: 4%;
        margin-bottom: 4%;
        padding-top: 5%;
        padding-bottom: 5%;
        font-size: 1.4em;
        text-align: center;
        display: grid;
        grid-template-columns: 20% 40% 20%;
        
        p{
        padding-inline: 5%;
        }
    }

    .unisex-clothing{
        position: relative;
        justify-items: center;
        display: grid;
        grid-template-columns: 40% 10% 40%;
        padding-bottom: 3%;
    }

    .svg-section{
        padding-block: 2%;
        max-height: 34rem;
        background-image: $background-grid;
        background-size: 7%;
        background-repeat: repeat;
        position: relative;
        justify-items: center;
        margin-top: 2%;
        text-align: center;
        display: grid;
        grid-template-columns: 25% 40% 25%;

        p{
            font-family: $main-font;
            font-size: $big-text;
            text-transform: uppercase;
        }

        img{
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
           height: 55%;
        }

        .fit-text{
            font-size: 5rem;
        }

        


    }

    //--Clothing page
    .products-display{
        display: flex;
        flex-direction: row;

        h2{
            display:flex ;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }

        .product-item{
            background-color: white;
            margin-inline: 30%;
            margin-block: 15%;

            img{
                max-height: 400px;
                border-radius: 10px;
            }

            button{
                background-color: $color-hardpink;
                border-radius: 40px;
                border-color: $color-black;
                padding: 4%;
            }

        }

    }
    

    .nav-text{
        font-family: $body-font;
        
    }


    //--CONTACT-US PAGE
    .carousel-pics{
        margin-block: 4%;
    }

    //--MIXINS
    @media only screen and (max-width: 800px) {
        .whoarewe-section {
            display: flex;
            flex-direction: column;
        }
    
        .unisex-clothing{
            display: flex;
            flex-direction: column;

        }

        .accent-text{
            font-size: 3rem;
        }
    
        .wrw-text{
        padding-block: 5%;
        }
    
        .models{
            padding: 10%;
            size: 50%;
        }
    
        .svg-section{
            display: flex;
            flex-direction: column;
            padding: 0%;
            margin: 0%;
            max-height: 70rem;
    
            p{
                font-family: $main-font;
                font-size: $h1-size;
                text-transform: uppercase;
            }
    
            img{
                margin: 0 auto;
                display: flex;
                justify-content: center;
                align-items: center;
               height: 25rem;
            }
        }
    
        .products-display{
            display: flex;
            flex-direction: column;
    
            h2{
                display:flex ;
                flex-direction: column;
                justify-content: center;
                text-align: center;
            }
    
            .product-item{
                background-color: white;
                margin-inline: 10%;
                margin-block: 10%;
    
    
    
                img{
                    max-height: 400px;
                    border-radius: 10px;
                }
    
                button{
                    background-color: $color-hardpink;
                    border-radius: 40px;
                    border-color: $color-black;
                    padding: 4%;
                }
    
            }
    
        }
        
    
        }
    
        @media only screen and (max-width: 1200px) and (min-width: 800px) {
    
            .svg-section{
                padding: 0%;
                margin: 0%;
                max-height: 70rem;
        
                p{
                    font-family: $main-font;
                    font-size: 5rem;
                    text-transform: uppercase;
                }
        
                img{
                    margin: 0 auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                   height: 25rem;
                }
            }
    
            .products-display{
                display: flex;
                flex-direction: row;
        
    
                .product-item{
                    background-color: white;
                    margin-inline: 10%;
                    margin-block: 10%;
    
        
                    img{
                        max-height: 300px;
                        border-radius: 10px;
                    }
        
                    button{
                        background-color: $color-hardpink;
                        border-radius: 40px;
                        border-color: $color-black;
                        padding: 4%;
                
                    }
        
                }
        
            }
            }